<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="box">
          <div class="card1">
            <h3 class="titre" style="margin-top: 25px">
              A propos
              <div class="urderline"><span></span></div>
            </h3>
            <p class="tt" style="font-size: 14px">
              Hello ,nous somme Salamstreaming un site de streaming légal de
              vidéos islamiques. Vous y retrouverez de nombreuses histoire,des
              debats religieuxdes videos de meditation ainsi que dessins animés
              pour les grands et les petits
            </p>
          </div>
          <div class="card2">
            <h3 class="titre">
              Rejoignez Nous
              <div class="urderline"><span></span></div>
            </h3>
            <p>
              <a href=""><img src="../image/facebook.svg" alt="" /></a>
              <a href="" style="margin-left: 5px; margin-right: 5px">
                <img src="../image/whatsapp-128.svg" alt=""
              /></a>
              <a href=""><img src="../image/telegram.svg" alt="" /></a>
            </p>
          </div>
          <div class="card3">
            <h3 class="titre">
              Contacter Nous
              <div class="urderline"><span></span></div>
            </h3>
            <p>01 53 53 50 65</p>
            <p>01 53 53 50 65</p>
          </div>
        </div>
        <br />
        <hr />
        <div class="copy">copyright © 2023 mena - côte d'ivoire</div>
      </footer>
</body>
</html>