<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <!-- logo -->
        <a href="/indexs" class="logo">Salam_stream</a>
  
        <!-- menu navigation -->
        <ul class="nav-links">
          <!-- icons hanberguer -->
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
  
          <div class="menu">
            <li><a href="/filmsserie">Histoire</a></li>
            <li><a href="/meditation">Meditation</a></li>
            <li><a href="/anime" class="active">Animé</a></li>
            <li><a href="/inscription">Inscription</a></li>
            <li><a href="/connexion">Connexion</a></li>
          </div>
        </ul>
      </nav>
</body>
</html>