<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/inscription.css" />
  </head>
  <body>
    <%- include('partials/hearder3') %>


    <form class="card" method="post" action="/admin/article" enctype="multipart/form-data">

      
      <div class="cards">
        <h1>Ajourt Article</h1>
        <p style="margin-bottom: 30px" class="pp">
          
          <input type="file" name="image" id="image" placeholder=" entrer l'image"  />
        </p>
        <p style="margin-bottom: 30px" class="pp">
         
          <input type="file" name="video" id="video" placeholder="entrer la video" required />
        </p>
        <p style="margin-bottom: 10px" class="pp">
          
          <select name="categorie" id="categorie">
            <option value="histoire">histoire</option>
            <option value="meditation">meditation</option>
            <option value="animé">animé</option>
          </select>
        
        </p>
        <span><input type="checkbox" /></span>
        <span>J'ai lu,jaccepte <a href="">les termes & conditions</a></span>
        <p style="margin-top: 30px">
          <input class="btn" type="submit" value="create account"
          />
        </p>
      </div>
    </form>

    <%- include('partials/footer') %>
  </body>
</html>
