<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/connexion.css" />
  </head>
  <body>
    <form  method="post" action="/connexion" class="card">
      <div class="croix">
        <a href="/indexs"
          ><img
            src="/images/ferme1.png"
            alt=""
            style="filter: invert(); width: 40px; height: 40px"
        /></a>
      </div>
      <div class="cards">
        <h1 style="color: #65a25b">connexion</h1>

        <p style="margin-bottom: 30px" class="pp">
          <img src="/images/3669350_email_ic_icon.png" alt="" />
          <input type="email" name="email" id="email" placeholder="  E-mail" required />
        </p>
        <p style="margin-bottom: 10px" class="pp">
          <img src="/images/2639882_password_icon.png" alt="" />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="  Password"
            required
          />
        </p>

        <p style="margin-top: 30px">
          <input class="btn" type="submit" value="connexion" required
          />
        </p>
        <span
          >vous n'avez pas de compte creer en un
          <a href="./inscription">ici</a></span
        >
      </div>
    </form>
  </body>
</html>
