<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/meditation.css" />
   

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/hearder2') %>
    <!-- fin bar de navigation -->

    <!-- debut de la premiere partie -->
    <div class="section1">
      <div class="card"></div>
    </div>
    <% if (articles) { %>
    <h1>video gallery</h1>
    <div class="container">
      
    
      <div class="popup-video">
        <video src="/<%= articles.video.replace(/\\/g, '/') %>" controls muted autoplay></video>
        <a href="/meditation" class="yo">&times;</a>
      </div>

    </div>
    <!-- fin de la premiere partie -->
    
    <% } %>
    <!-- debut footer -->

    <%- include('partials/footer') %>
    <!-- fin footer -->
  </body>
</html>
