<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style2.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/hearder2') %>
    <!-- fin bar de navigation -->

    <!-- debutde la partie2 -->
    <div class="section1">
      <div class="box">
        <div class="card" id="card1">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
        <div class="card" id="card2">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
        <div class="card" id="card3">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
        <div class="card" id="card4">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
      </div>
    </div>
    <div class="section2">
      <div class="box2">
        <div class="guide">
         <p class="titre"> LES GUIDES RELIGIEUX</p>
          <div class="cards">
          <div class="image1"></div>
          <div class="texte">
            <p>Nom: Soudais</p>
            <p>Fonction:Imam</p>
          </div>
          </div>

          <div class="cards">
          <div class="image2"></div>
          <div class="texte">
            <p>Nom:Abdoul Madjid</p>
            <p>Fonction:Debateur</p>
          </div>
          </div>

          <div class="cards" id="yes">
          <div class="image3"></div>
          <div class="texte">
            <p>Nom: farid mounir</p>
            <p>Fonction:predicateur</p>
          </div>
          </div>
        </div>
       <div class="info">
        <p class="titre"> LES INFORMATIONS RELIGIEUSE</p>

       <div class="infop"> <p>Ramadan 2024. De la soirée du :
        dimanche 10 mars
        À la soirée du :
        lundi 8 avril</p></div>
       <div class="infop"> <p>Aïd al-Adha 2024 (Côte d'Ivoire). De la soirée du :
        dimanche 16 juin
        À la soirée du :
        lundi 17 juin</p></div>
       <div class="infop"> <p>Laylat al-Qadr (Nuit du destin) est prévue aux dates suivantes : lundi 17 avril 2023. vendredi 5 avril 2024.</p></div>
       <div class="infop"> 1er Dhoul Hijja 1445 sera le 08 Juin 2024 · Le début du Hajj (départ pour Mina) le 8 Dhoul Hijja : 15 Juin ·
         Le jour de Arafa le 9 Dhoul Hijja : le 16 Juin Le jour de l’Aïd El Kebir le 10 Dhoul Hijja 
        : le 17 Juin  Les 3 jours de Mina : 11, 12 et 13 Dhoul Hijja : les 18, 19 et 20 Juin</p></div>
       </div>
      </div>


      <div class="box1" style="background-color: white">
        <a href="./coporate 2/filmsserie2" class="papa"
          ><div
            class="card1"
            style="background-image: url(/images/yousouf.jpg)"
          >
            <p>Histoire</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>

        <a href="/filmsserie2" class="papa"
          ><div
            class="card1"
            style="background-image: url(/images/p2.jpeg)"
          >
            <p>Histoire</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        <a href="/filmsserie2" class="papa"
          ><div
            class="card1"
            style="background-image: url(/images/p3.jpeg)"
          >
            <p>Histoire</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        <a href="/filmsserie2" class="papa"
          ><div class="card1" style="background-image: url(/images/P4.jpeg)">
            <p>histoire</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
      
        <a href="/filmsserie2" class="papa"
          ><div
            class="card1"
            style="background-image: url(/images/omar.jpg)"
          >
            <p>Histoire</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>

        
        <a href="/filmsserie2" class="papa"
          ><div class="card1" style="background-image: url(/images/p10.jpeg)">
            <p>Histoire</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        <a href="/filmsserie2" class="papa"
          ><div class="card1" style="background-image: url(/images/yacoub.png)">
            <p>Histoire</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
      

        <a href="" class="papa"
          ><div
            class="card1"
            style="
              background-image: url(/images/debat_imam_ahmad_mutazilites-320x180.jpg);
            "
          >
            <p>Meditation</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>

        <a href="/meditation2" class="papa"
          ><div
            class="card1"
            style="background-image: url(/images/p8.jpg)"
          >
            <p>Meditation</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        <a href="/meditation2" class="papa"
          ><div class="card1" style="background-image: url(/images/p7.jpeg)">
            <p>Meditation</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        <a href="/meditation2" class="papa"
          ><div class="card1" style="background-image: url(/images/p6.jpeg)">
            <p>Meditation</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        

        <a href="/anime2" class="papa"
          ><div class="card1" style="background-image: url(/images/a1.jpeg)">
            <p>Animé</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>

        <a href="/anime2" class="papa"
          ><div class="card1" style="background-image: url(/images/a2.avif)">
            <p>Animé</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        <a href="/anime2" class="papa"
          ><div class="card1" style="background-image: url(/images/a3.jpeg)">
            <p>Animé</p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div></div
        ></a>
        <a href="/anime2" class="papa">
          <div class="card1" style="background-image: url(/images/anime4.jpg)">
              <p>Animé</p>
              <div class="icon">
                <img src="/images/plays.svg" alt=""style="width: 100%; height: 100%; filter: invert()"/>
              </div>
          </div>
        </a>

    
        
      </div>
    </div>
    </div>
    <!-- fin de la partie2 -->


<!-- debut de la partie3 -->
   <div class="grid">
    <div class="parent">
      <a href="/filmsserie2" class="div1"><video src="./video/ani1.mp4" controls muted></video></a>
      <a href="/filmsserie2"  class="div1" > <p id="yo">Nos video recemment ajouter</p><video src="./video/fil3.mp4" controls muted></video></a>
      <a href="/filmsserie2" class="div1" ><video src="./video/medit2.mp4" controls muted></video><p id="yo">connaitre sa religion notre prioriter</p></a>
      
    </div>
   </div>
   <div class="grid">
    <div class="parent">
      <a href="/filmsserie2" class="div1"><video src="./video/medit2.mp4" controls muted controlist="nodownload"></video></a>
      <a href="/filmsserie2" class="div1" > <p id="yo">Nos video populaire</p><video src="./video/ani6.mp4" controls muted ></video></a>
      <a href="/filmsserie2" class="div1" ><video src="./video/fil9.mp4" controls muted ></video><p id="yo">connaitre sa religion notre prioriter</p></a>
      
    </div>
   </div>
   <!-- fin de la partie 3 -->
   

   <!-- debut footer -->
   <%- include('partials/footer') %>
    <!-- fin footer -->
  </body>
</html>
