<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body>

    <%- include('partials/hearder1') %>
    <!-- fin bar de navigation -->


     <!-- debut la partie1 debut -->

    <div class="section1">
      <div class="box">
        <div class="card" id="card1">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
        <div class="card" id="card2">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
        <div class="card" id="card3">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
        <div class="card" id="card4">
          <p>
            Bienvenue sur Salamstreaming le moteur de recherche du streaming
            islamique légal & de la VOD
          </p>
          <h5>
            Découvrez votre apprentissage de la religion islamique en haute
            exclusivite
          </h5>
        </div>
      </div>
    </div>

    <!-- finde la partie1 -->

    <!-- debut de la partie2 -->
    <% if (articles) { %>
    <div class="section2">
     

      <div class="box1" >
        <% let articleLenght1 = 0 %>
        <% articles.forEach(function(article)  { %>
          <% if ((article.categorie ==="animé" ||article.categorie ==="meditation" ||article.categorie ==="histoire") && articleLenght1<15 ) { %>
        <a href="/anime" class="papa"
          ><div
            class="card1"
            style="background-image: url('<%= article.image.replace(/\\/g, '/') %>')"
          >
            <p><%= article.categorie %></p>
            <div class="icon">
              <img
                src="/images/plays.svg"
                alt=""
                style="width: 100%; height: 100%; filter: invert()"
              />
            </div>
            </div>
          </a>
          <%  articleLenght1 ++ %>
      <% } %>
      <% }) %>
      </div>
      
      
    </div
    <% } %>
    <!-- fin de la partie2-->


    <!-- debut de la partie3 -->
    <h2 class="info">video recemment ajouter</h2>
    <div class="section2">
      
      <div class="container">
        
        <a href="/connexion" class="content">
          <div class="cont-image   photo1">
          
          </div>
          <div class="text">
            <h2>Histoire</h2>
            <p >connecter pour avoir acces a cette video</p>
          </div>
        </a>
  
  
        <a href="/connexion" class="content ">
          <div class="cont-image photo2">
            
          </div>
          <div class="text">
            <h2>Meditation</h2>
            <p>connecter pour avoir acces a cette video</p>
          </div>
        </a>
  
        <a href="/connexion" class="content">
          <div class="cont-image photo3">
            
          </div>
          <div class="text">
            <h2>Animé</h2>
            <p>connecter pour avoir acces a cette video</p>
          </div>
        </div>
      </a>

    </div>
   
    


    </div>
    <h2 class="info" style="margin-top: -50px;">video plus populaire</h2>
    <div class="section2">
      
      <div class="container">
        
        <a href="/connexion.html" class="content ">
          <div class="cont-image  photo4">
            <!-- <img src="/images/yousouf.jpg" alt=""> -->
          </div>
          <div class="text">
            <h2>Histoire</h2>
            <p>connecter pour avoir acces a cette video</p>
          </div>
        </a>
  
  
        <a href="/connexion.html" class="content">
          <div class="cont-image photo5">
            
          </div>
          <div class="text">
            <h2>Meditation</h2>
            <p>connecter pour avoir acces a cette video</p>
          </div>
        </a>
  
        <a href="/connexion.html" class="content">
          <div class="cont-image photo6">
            
          </div>
          <div class="text">
            <h2>Animé</h2>
            <p>connecter pour avoir acces a cette video</p>
          </div>
        </a>
       </div>

    </div>
  
    </div>
    <!-- fin de la partie3 -->



   <!-- debut footer -->
   <%- include('partials/footer') %>
    <!-- fin footer -->
  </body>
</html>
