<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/meditation.css" />
   

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/hearder1') %>
    <!-- fin bar de navigation -->


    <!-- debut de la premiere partie -->
    <div class="section1">
      <div class="card"></div>
    </div>
    <% if (articles) { %>
      <h1>video gallery</h1>
      <div class="container">
        
        <% articles.forEach(function(article){ %>
          <% if (article.categorie === "meditation") { %>
        
            <div class="video-container">
              <a href="/detail1/<%= article._id %>" class="video"> 
                <img src="<%= article.image.replace(/\\/g, '/') %>" alt="" />
              </a>
            </div>
           
    
            <% } %> <!-- Ajout de cette accolade fermante -->
            <% }) %>
      </div>
     
    <% } %>
    <!-- fin de la premiere partie -->


    <!-- debut footer -->
    <%- include('partials/footer') %>
    <!-- debut footer -->
  </body>
</html>
