<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/profil.css" />
  </head>
  <body>
    <div class="card">
      <div class="croix">
        <a href="/index2"
          ><img
            src="/images/ferme1.png"
            alt=""
            style="filter: invert(); width: 40px; height: 40px"
        /></a>
      </div>
      <div class="cards">
        <div class="rond"></div>
        <div class="form">
          <p>Non: latoundji yaya madjid</p>
          <p>Email: latoundev@gmail.com</p>
        </div>
        <div class="buton"><a href="/editer">Editer</a></div>
      </div>
    </div>
  </body>
</html>
