<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/inscription.css" />
  </head>
  <body>
    <%- include('partials/hearder3') %>

    <% if (articles) { %>
    <form class="card" method="post" action="/admin/update/<%= articles._id %>">

      
      <div class="cards">
        <h1>MOdifier Article</h1>
        <p style="margin-bottom: 30px" class="pp">
          
          <input type="file" name="image" id="image" value="<%=articles.image %>" placeholder=" entrer l'image" required />
        </p>
        <p style="margin-bottom: 30px" class="pp">
         
          <input type="file" name="video" id="video" value="<%=articles.video %>" placeholder="entrer la video" required />
        </p>
        <p style="margin-bottom: 10px" class="pp">
          
          <select name="categorie" id="categorie" >
            <option value="histoire">histoire</option>
            <option value="meditation">meditation</option>
            <option value="histoire">animé</option>
          </select>
          
        </p>
        <span><input type="checkbox" /></span>
        <span>J'ai lu,jaccepte <a href="">les termes & conditions</a></span>
        <p style="margin-top: 30px">
          <input class="btn" type="submit" value="create account"
          />
        </p>
      </div>
    </form>
    <% } %>
  </body>
</html>
