p {
  color: white;
}
.section1 {
  width: 100%;
  height: 600px;
  display: flex;

  position: relative;
}
.section1 .card {
  width: 100%;
  height: 100%;
  background-color: #26a65b;
  background-image: url(../image/p2.jpeg);
  background-position: 100%;
  background-size: contain;
}
.container {
  position: relative;
  min-height: auto;
  padding-bottom: 20px;
  background-color: white;
}
.container h1 {
  color: #26a65b;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-weight: normal;
}
.container .video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}
.container .video-container .video {
  height: 250px;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  margin: 2rem;
  box-shadow: 0.5rem 1rem rgba(71, 209, 71, 0.5);
  background-color: black;
  border-radius: 1rem;
}

.container .video-container .video img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.container .video-container .video:hover img {
  transform: scale(1.1);
}
#click {
  display: none;
}
#click1 {
  display: none;
}
#click2 {
  display: none;
}
#click3 {
  display: none;
}
#click4 {
  display: none;
}
#click5 {
  display: none;
}

.container .popup-video,
.popup-video1,
.popup-video2,
.popup-video3,
.popup-video4,
.popup-video5 {
  position: fixed;
  top: 70px;
  left: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  height: 70%;
  width: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
}

#click:checked ~ .popup-video {
  opacity: 1;
  visibility: visible;
}

#click1:checked ~ .popup-video1 {
  opacity: 1;
  visibility: visible;
}
#click2:checked ~ .popup-video2 {
  opacity: 1;
  visibility: visible;
}
#click3:checked ~ .popup-video3 {
  opacity: 1;
  visibility: visible;
}
#click4:checked ~ .popup-video4 {
  opacity: 1;
  visibility: visible;
}
#click5:checked ~ .popup-video5 {
  opacity: 1;
  visibility: visible;
}

.container .popup-video video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 69%;
  border: 3px solid white;
  object-fit: cover;
}
.container .popup-video1 video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 69%;
  border: 3px solid white;
  object-fit: cover;
}
.container .popup-video2 video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 69%;
  border: 3px solid white;
  object-fit: cover;
}
.container .popup-video3 video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 69%;
  border: 3px solid white;
  object-fit: cover;
}
.container .popup-video4 video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 69%;
  border: 3px solid white;
  object-fit: cover;
}
.container .popup-video5 video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 69%;
  border: 3px solid white;
  object-fit: cover;
}

.yo {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: white;
  z-index: 100;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container .popup-video video {
    width: 95%;
  }
}
